@import url("https://fonts.googleapis.com/css2?family=Gugi&display=swap");

.hidden {
  display: none !important;
}

.stat-box-left,
.stat-box-right {
  display: flex;
  flex-direction: column;
}

.stat-box-left > *,
.stat-box-right > * {
  flex: none;
}

.stat-box-left {
  align-items: end;
  text-align: right;
}

.stat-box-left {
  align-items: begin;
  text-align: left;
}

/* Custom stats */
.stat {
  font-family: "Exo 2", sans-serif;
  color: white;
  display: grid;
  width: 100%;
  grid-template-areas:
    "title"
    "value";
  user-select: none;
}

.stat .title {
  grid-area: title;
  font-size: 18px;
  color: rgb(128, 128, 128);
  border-bottom: 2px solid rgb(128, 128, 128);
}

.stat .value {
  grid-area: value;
  display: flex;
  flex-wrap: nowrap;
  gap: 2px;
  align-items: end;
}

.stat .value *:first-child {
  font-size: 24px;
  color: white;
}

.stat .value *:not(:first-child) {
  font-size: 18px;
  color: #888;
}

/* Sidebar */

#colorPickerPopup {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(2, min-content);
  grid-template-rows: min-content;
  border: 2px solid #222;
  width: min-content;
  background: #222;
  gap: 2px;
  z-index: 10;
}

#colorPickerPopup.hidden {
  display: none;
}

#colorPicker {
  position: relative;
  display: block;
  width: 200px;
  height: 200px;
  background-image: linear-gradient(to top, #000f, #0000), linear-gradient(to right, #ffff, #fff0);
  background-color: #f00;
}

#hueSlider {
  position: relative;
  display: block;
  height: 200px;
  width: 20px;
  background-image: linear-gradient(to top, #f00 0, #ff0 17%, #0f0 33%, #0ff 50%, #00f 67%, #f0f 83%, #f00 100%);
}

#colorPickerMarker {
  position: absolute;
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  margin: -6px;
  border-radius: 50%;
  border: 2px solid black;
  top: 0%;
  left: 0%;
  transition: 10ms;
  z-index: 3;
}

#colorPickerMarkerInner {
  box-sizing: border-box;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 2px solid white;
}

#hueSliderMarker {
  display: block;
  color: black;
  margin: -0.5em 0 -0.5em 0;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: 0.5em solid;
  box-sizing: border-box;
  border-color: transparent black transparent black;
}

#color {
  background-color: #111;
  border: 2px solid black;
}

#color * {
  font-family: "Exo 2", sans-serif;
  color: #f1f1f1;
}

/* The sidebar */
.sidebar {
  height: 100%;
  width: min(480px, 100%);
  position: fixed;
  z-index: 1001;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  transform: translate(-100%);
  -webkit-transform: translate(-100%);
  -moz-transform: translate(-100%);
}

.sidebar.noAnimation,
.sidebar.noAnimation * {
  transition: unset !important;
}

/* Everything in sidebar uses Exo 2 */
.sidebar * {
  font-family: "Exo 2", sans-serif;
  color: #f1f1f1;
  text-align: left;
  line-height: unset;
}

.sidebar-shown {
  transform: unset;
  -webkit-transform: unset;
  -moz-transform: unset;
  visibility: visible;
}

.sidebarButton {
  padding: 8px 32px;
  text-decoration: none;
  font-size: 25px;
  margin: 10px 10px 10px 10px;
  text-align: center;
  color: #818181;
  display: block;
  transition: 0.3s;
  border: #818181 solid 4px;
  border-radius: 10px;
  background-color: #111;
}

.sidebarButton:hover {
  cursor: pointer;
  background-color: #222;
  text-decoration: none;
  color: #f1f1f1;
}

/* Jstris Extras chat boxes */

#gc .je-log {
  width: 98%;
  border-radius: 6px;
  padding: 6px;
  color: black;
  text-align: justify;
  display: flex;
  flex-direction: column;
  margin-top: 1px;
}

#gc .je-log .title {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 5px;
  align-items: center;
}

#gc .je-log.je-error {
  background-color: #f44336;
  color: white;
  text-shadow: 1px 1px 1px black;
  & .title {
    color: #f17067;
  }
}

#gc .je-log.je-warning {
  background-color: #f98118;
  color: white;
  text-shadow: 1px 1px 1px black;
  & .title {
    color: #f3a45f;
  }
}

#gc .je-log.je-info {
  background-color: #00bcd4;
  color: white;
  text-shadow: 1px 1px 1px black;
  & .title {
    color: #82c2ca;
  }
}

#gc .je-log .title h1 {
  font-size: 1.2em;
  margin: 0;
}

#gc .je-log span {
  font-size: 0.85em;
}

#gc .je-svg {
  width: 20px;
  height: 20px;
}

#gc .je-closebtn {
  width: 1.2em;
  height: 1.2em;
  margin-left: auto;
  cursor: pointer;
}

#gc .je-closebtn * {
  fill: red;
  stroke: red;
}

#gc .je-svg * {
  stroke: black;
  fill: white;
}

/* Who the hell thought that "display: block" is appropriate for summary */
#gc details summary {
  display: list-item;
}

#gc details summary::marker {
  content: "▼";
}

#gc details[open] summary::marker {
  content: "▲";
}

#gc details span {
  font-family: monospace;
  text-align: left;
  white-space: pre-wrap;
}

/* Sidebar Header */

.sidebarHeader {
  height: 60px;
  background-color: darkcyan;
  display: flex;
  flex-shrink: 0;
  margin-bottom: auto;
  border-bottom: rgb(0, 100, 100) solid 2px;
}

.sidebarHeader h1 {
  margin: auto;
  font-size: 2em;
  font-weight: bold;
}

.sidebarHeader .closebtn {
  text-decoration: none;
  margin: auto 10px auto auto;
  width: 30px;
  height: 30px;
  color: #ccc;
  transition: 0.3s;
  border: none;
  display: block;
}

.sidebar .closebtn > svg {
  width: 100%;
  height: 100%;
}

.sidebarHeader .closebtn:hover {
  color: #f1f1f1;
  cursor: pointer;
}

/* Sidebar content (to position divs inside absolutely) */

.sidebarContent {
  overflow-y: auto;
  overflow-x: hidden;
  transition: 0.5s;
  height: 100%;
  position: relative; /* This is needed for the "absolute" children inside to be positioned relative to this element */
}

/* Sidebar main box and submenus (positioned absolutely) */

.sidebarMain,
.submenu {
  overflow-y: auto;
  overflow-x: hidden;
  transition: 0.5s;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}

.sidebarMain-hidden {
  transform: translate(-100%); /* Comes from the left */
  -webkit-transform: translate(-100%);
  -moz-transform: translate(-100%);
  visibility: hidden;
}

/* Submenus */

.submenu {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  visibility: visible;
}

.submenu-hidden {
  transform: translate(100%); /* Comes from the right */
  -webkit-transform: translate(100%);
  -moz-transform: translate(100%);
  visibility: hidden;
}

.submenu h3 {
  margin: 10px;
  font-size: 1.17em;
  font-weight: bold;
}

.submenu hr {
  margin: 10px;
  color: #ccc;
}

/* Submenu navigation */

.submenuNavigation {
  height: 60px;
  background-color: darkcyan;
  display: flex;
  flex-direction: row;
  border-bottom: rgb(0, 100, 100) solid 2px;
}

.submenuNavigation h2 {
  margin: auto;
  font-size: 1.5em;
  font-weight: bold;
}

.submenuNavigation .closeSubmenuBtn {
  padding: 5px 10px;
  text-decoration: none;
  font-size: 20px;
  margin: 10px 10px 10px 10px;
  text-align: center;
  background-color: crimson;
  color: #bdbdbd;
  display: block;
  transition: 0.3s;
  border: #bdbdbd solid 2px;
  border-radius: 5px;
}

.submenuNavigation .closeSubmenuBtn:hover {
  background-color: red;
  color: #f1f1f1;
  cursor: pointer;
}

/* User inputs */

.userInput label {
  white-space: nowrap;
  flex: 1 1 auto;
  font-weight: unset;
  margin-bottom: unset;
}

.userInput input[type="text"] {
  width: fit-content;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #111;
  border: 2px solid #bdbdbd;
  border-radius: 2px;
  transition: 0.5s;
  font-size: 16px;
  &:focus {
    outline: 2px solid white;
    background-color: #222;
  }
  &.colorPickerInput {
    position: relative;
  }
}

.userInput input[type="checkbox"],
.userInput input[type="radio"] {
  width: fit-content;
  margin-left: 5px;
  margin-right: 5px;
}

.userInput input[type="range"] {
  width: unset;
}

.userInput .inputValidity {
  width: 22px;
}

.userInput > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 0 1 auto;
}

.userInput .dragDropArea {
  flex-direction: column;
  border: #818181 dotted 2px;
  height: 180px;
  justify-content: center;
  transition: 0.5s;
  text-align: center;
  cursor: pointer;
}

.userInput .dragover,
.dragDropArea:hover {
  border-color: #f1f1f1;
  background-color: #222;
}

.userInput .status {
  justify-content: center;
}

.userInput small {
  color: gray;
  font-style: italic;
  font-size: smaller;
  white-space: pre-wrap;
}

.userInput .value {
  width: 3em;
  text-align: right;
  margin-right: 5px;
}

.userInput .percentage::after {
  content: "%";
}

.userInput .seconds::after {
  content: "s";
}

.userInput .times::after {
  content: "x";
}

.userInput .button {
  text-decoration: none;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  color: #bdbdbd;
  background-color: #111;
  transition: 0.3s;
  border: #bdbdbd solid 2px;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 16px;
  height: 20px;
  display: inline-flex;
  svg {
    margin-right: 5px;
  }
}

.userInput .button:hover {
  color: #f1f1f1;
  background-color: #222;
  cursor: pointer;
}

.userInput b {
  margin-left: 0.5em;
}

/* .userInput .copy {
  background-color: green;
}

.userInput .paste {
  background-color: red;
} */

.userInput {
  margin: 10px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

/* Sidebar Footer */

.sidebarFooter {
  margin-top: auto;
}

/* #main {
  transition: margin-left 0.5s;
  padding: 20px;
} */

/* =========== settings modal css ============= */

.settings-modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 99999;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  -webkit-animation-name: fadeIn;
  /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s;
}

.settings-modalCheckbox {
  width: 30px;
  height: 30px;
}

.settings-text {
  text-align: center;
}

.settings-modalTextbox {
  height: 30px;
  font-size: 25px;
  border: solid 1px black;
}

.settings-modalTextarea {
  height: 60px;
  border: solid 1px black;
  resize: none;
}

.settings-modalContentTitle {
  text-align: left;
  width: 60%;
  min-width: 300px;
  margin: auto;
  padding: 20px;
}

.settings-inputRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  min-width: 300px;
  margin: auto;
  padding: 10px;
  border-bottom: solid 1px #2c2c2c;
  position: relative;
}

.settings-inputRow select {
  color: black;
}

.settings-modalOpenButton {
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 10px;
  position: fixed;
  left: 30px;
  bottom: 30px;

  transition: 0.5s;
}

.settings-modalCloseButton {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: 0.5s;
  position: absolute;
  right: 12px;
  top: 12px;
}

.settings-modalOpenButton:hover {
  transform: rotate(-360deg);
  opacity: 0.3;
}

.settings-modalClosebutton:hover {
  opacity: 0.3;
}

/* Modal Content */
.settings-modal-content {
  position: fixed;
  bottom: 0;
  background-color: #fefefe;
  width: 100%;
  height: 75vh;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  display: flex;
  flex-direction: column;
  animation-duration: 0.4s;
}

.settings-modal-header {
  padding: 16px;
  background-color: #5cb85c;
  color: white;
  text-align: center;
  position: relative;
}

.settings-modal-header h2 {
  line-height: 16px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.settings-modal-body {
  padding: 2px 16px;
  color: black;
  flex: 1;
  overflow-y: scroll;
  background-color: #1c1c1c;
  color: white;
}

.settings-modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.settings-sliderValue {
  position: absolute;
  font-size: 18px;
  right: 330px;
}

.settings-slider {
  -webkit-appearance: none;
  appearance: none;
  max-width: 300px;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.settings-slider:hover {
  opacity: 1;
}

.settings-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04aa6d;
  cursor: pointer;
}

.settings-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04aa6d;
  cursor: pointer;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }

  to {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }

  to {
    bottom: 0;
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* =========== matchmaking css ============= */
.mmMatches {
  padding: 0 18px;
  display: block;
  overflow: hidden;
}

.mmContainer {
  display: flex;
  flex-direction: row;
  z-index: 50;
  color: white;
  position: absolute;
  left: 100px;
  bottom: 30px;
  color: #999;
  width: 200px;
  position: fixed;
}

.mmLoader {
  border: 16px solid white;
  border-top: 16px solid #04aa6d;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: mmSpin 2s linear infinite;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}

@keyframes mmSpin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.mmInfoContainer {
  height: 40px;
  flex-direction: column;
  justify-content: center;
  min-width: 150px;
  align-items: center;
  white-space: pre;
  display: none;
  /* hide unless show-queue-info */
}

.show-queue-info .mmInfoContainer {
  display: flex !important;
}

.mmButton {
  color: white;
  height: 40px;
  border: 2px solid white;
  border-radius: 10px;
  background-color: transparent;
  min-width: 200px;
  display: none;
}

.show-mm-button .mmButton {
  display: block !important;
}

.mmModal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.mmModal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  height: 40%;
  background-color: #343837;
  position: relative;
}

/* The Close Button */
.mmClose {
  position: absolute;
  top: 0px;
  right: 5px;
  color: #aaaaaa;
  font-size: 30px;
  font-weight: bold;
}

.mmClose:hover,
.mmClose:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.mm-button {
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0px;
  margin: 2px 2px;
  border-radius: 100%;
  border: 2px solid #222222;
  background-color: #04aa6d;
}

.mm-button:hover {
  border: 2px solid white;
}

.mm-chat-buttons-container {
  position: sticky;
  height: 45px;
}

.mm-ready-button {
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  margin: 2px 2px;
  border: 2px solid #222222;
  background-color: #04aa6d;
}

.mm-ready-button:hover {
  border: 2px solid white;
}

/* =========== action text css ============= */

.action-text {
  transition: 1s;
  /*font-family: 'Gugi', sans-serif;*/
  -webkit-animation-name: bounce;
  /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: action-text;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}

@keyframes action-text {
  0% {
    transform: translateY(0);
  }

  30% {
    transform: translateY(-3px);
  }

  100% {
    transform: translateY(0);
  }
}

/* Chat timestamp showing logic */

.chat-timestamp {
  display: none;
  color: grey;
}

.show-chat-timestamps .chat-timestamp {
  display: inline !important;
}

/* ===== stats css ===== */

.stats-table {
  z-index: 10;
  color: white;
  position: absolute;
  left: -210px;
  bottom: 40px;
  color: #999;
  width: 200px;
}

/* ===== Keyboard OSD ===== */

.really-hide-kbd-display {
  /* for when keyboard display really should not be shown, like 1v1 replays (for now) */
  display: none !important;
}

.keyboard-div {
  position: absolute;
  z-index: 10;
  /* resize: both;
  overflow: auto; */

  display: grid;
}

.keyboard-osd {
  grid-area: 1/1;
  min-width: 0px;
  min-height: 0px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    ".  .  rs ng  .  . "
    ".  hd .  rl rr rf"
    "ml sd mr hl .  . ";

  gap: 2px;

  cursor: move;
}

.keyboard-osd .kps * {
  font-size: 30px;
}

.keyboard-osd .key {
  background-color: black;
  border: 2px solid white;
  border-radius: 5px;
  min-width: 0px;
  min-height: 0px;
  display: grid;
  align-items: center;
  justify-content: center;
  transition: 100ms;
}

.keyboard-osd .key.pressed {
  background-color: darkcyan;
}

.keyboard-osd .key path {
  fill: white;
}

.keyboard-osd .key.hard-drop {
  grid-area: hd;
}

.keyboard-osd .key.soft-drop {
  grid-area: sd;
}

.keyboard-osd .key.move-left {
  grid-area: ml;
}

.keyboard-osd .key.move-right {
  grid-area: mr;
}

.keyboard-osd .key.rotate-left {
  grid-area: rl;
}

.keyboard-osd .key.rotate-right {
  grid-area: rr;
}

.keyboard-osd .key.rotate-180 {
  grid-area: rf;
}

.keyboard-osd .key.hold {
  grid-area: hl;
}

.keyboard-osd .key.reset {
  grid-area: rs;
}

.keyboard-osd .key.new-game {
  grid-area: ng;
}

.key-svg {
  width: 80%;
  height: 80%;
  margin: auto;
}

.resize-handle {
  grid-area: 1/1;
  width: 10px;
  height: 10px;
  align-self: end;
  justify-self: end;
}

.handle-svg {
  margin: auto;
  display: grid;
  align-items: center;
  justify-items: center;

  cursor: nwse-resize;
}

.handle-svg path {
  fill: white;
}

/* custom emoji */

.emojiPlus {
  height: 3em;
  pointer-events: none;
}

/* practice mode settings */
.show-practice-mode-settings {
  display: block !important;
}

#customPracticeSettings {
  z-index: 10;
  color: white;
  position: absolute;
  left: -210px;
  bottom: -80px;
  color: #999;
  width: 200px;
  display: none;
}

#customPracticeSettings div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#customPracticeSettings #customApmSlider {
  width: 100px;
}

#customPracticeSettings #customApmInput {
  width: 50px;
}

/* replay addons */

.replay-btn {
  padding: 0.25em 0.5em;
  border: solid 1px white;
  border-radius: 4px;
  display: inline-block;
  text-align: center;
  color: #fff;
  background-color: transparent;
}

.replay-btn:hover,
.replay-btn:focus {
  cursor: pointer;
  color: #04aa6d;
}

.replay-btn-group {
  display: inline-flex;
  border: 1px solid white;
  overflow: hidden;
  border-radius: 4px;
}

.replay-btn-group > .c-btn {
  border-radius: 0;
  border: none;
  border-right: 1px solid white;
}

.replay-btn-group > .c-btn:last-child {
  border-right: none;
}
